$white: #fff;
$greyAaa: #aaa;
$greyCcc: #ccc;
$greyDdd: #ddd;
$grey333: #333;
$grey777: #777;
$grey999: #999;
$greyDarkOpac: #00000040;
$black: #000;
$azure: #0085BA;
$orange: #D13D0F;

/* buttons */
#bitartisanslider-slides {
    #carousel {
        ul.slides {
            li.bas-ui-state-highlightul.slides {
                li.bas-ui-state-highlight {
                    width: 148px;
                    height: 150px;
                    margin-right: 5px;
                    float: left;
                    display: block;
                    border: 1px dashed $greyAaa;
                }
            }
            li.bas-ui-state-default {
                position: relative;
                cursor: pointer;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    #slider {
        ul.slides {
            li.bas-slide {
                min-height: 800px;
                position: relative;
            }
            li {
                .bas-slide-caption {
                    width: 400px;
                    height: 200px;
                    padding: 20px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    cursor: move;
                }
            }
        }
    }
    ul {
        li {
            span.fas.fa-plus-circle {
                padding: 55px;
                font-size: 3em;
                color: $greyAaa;
            }
        }
    }
    .bas-new-slide {
        border: 1px dashed $greyDdd;
    }
    .flexslider {
        margin-bottom: 0;
    }
    .flex-prev {
        padding: 15px 20px;
        font-size: 1.1em;
        color: $white;
        text-shadow: 1px 1px 1px $black;
    }
    .flex-next {
        padding: 15px 20px;
        font-size: 1.1em;
        color: $white;
        text-shadow: 1px 1px 1px $black;
    }
    .flex-direction-nav {
        a {
            &:before {
                color: $white;
                text-shadow: 1px 1px 1px $black;
                font-size: 50px;
            }
        }
    }
    a.bas-delete-slide-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        padding: 2px 3px 1px 6px;
        color: $black;
        border-radius: 15px;
        background-color: $white;
        opacity: 0.4;
        &:hover {
            opacity: 0.8;
        }
    }
    a.bas-delete-caption-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        padding: 2px 3px 1px 6px;
        color: $black;
        border-radius: 15px;
        background-color: $white;
        opacity: 0.4;
        &:hover {
            opacity: 0.8;
        }
    }
    ul#bas-slide-menu {
        float: right;
        margin: 20px;
        padding: 5px 10px 0;
        background-color: $greyDarkOpac;
        border-radius: 10px;
        li {
            float: left;
            a {
                display: block;
                margin: 0 5px;
                color: $white;
                opacity: 0.7;
            }
        }
    }
    #bas-slide-menu {
        a {
            span.fas {
                padding: 0;
                font-size: 2em;
                color: $white;
            }
        }
    }
    .bas-btn-disabled {
        cursor: default;
        opacity: 0.2 !important;
    }
}
#bas-add-slide {
    h2 {
        font-size: 2em;
        color: $grey333;
    }
    #bas-add-slide-controls {
        margin: 100px auto;
        text-align: center;
        #bas-video-url {
            width: 30em;
            margin: 10px auto;
            padding: 10px;
            font-size: 1.5em;
            color: $grey777;
            &::placeholder {
                color: $greyCcc;
            }
        }
        .bas-label {
            display: block;
            margin: 10px 0;
            padding: 10px;
            font-size: 1.5em;
            color: $greyCcc;
        }
    }
    .bas-preview-video-loading {
        max-width: 600px;
        min-height: 400px;
        margin: 20px auto;
        border: 1px solid $greyDdd;
        background: transparent url("../img/loader.gif") center center no-repeat;
    }
}
#bas-multi-upload {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: $grey777;
    border: 1px solid $greyDdd;
    border-radius: 20px;
    &:hover {
        color: $azure;
    }
}
#bas-preview-video {
    max-width: 600px;
    min-height: 340px;
    margin: 20px auto;
    position: relative;
    .bas-video-btn {
        position: absolute;
        top: 15px;
        padding: 4px 10px;
        color: $white;
        text-decoration: none;
        border-radius: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    #bas-cancel-video {
        right: 20px;
        background-color: $orange;
    }
    #bas-add-video {
        right: 90px;
        background-color: $orange;
    }
}
#bas-video-error {
    padding: 20px 0;
    line-height: 2;
    font-size: 2em;
    color: $greyAaa;
    span.fas {
        display: block;
        font-size: 4em;
        color: $grey999;
    }
}
.bas-center {
    text-align: center;
}
