
#bitartisanslider-slides #carousel ul.slides li.bas-ui-state-highlight {
    width: 148px;
    height: 150px;
    margin-right: 5px;
    float: left;
    display: block;
    border: 1px dashed #aaa;
}

#bitartisanslider-slides #carousel ul.slides li {
    position: relative;
    cursor: pointer;
}

#bitartisanslider-slides #slider ul.slides li.bas-slide {
    min-height: 800px;
    position: relative;
}

#bitartisanslider-slides ul li span.fas.fa-plus-circle {
    padding: 55px;
    font-size: 3em;
    color: #aaa;
}

#bitartisanslider-slides .bas-new-slide {
    border: 1px dashed #ddd;
}

#bitartisanslider-slides .flexslider {
    margin-bottom: 0;
}

#bitartisanslider-slides .flex-prev,
#bitartisanslider-slides .flex-next {
    padding: 15px 20px;
    font-size: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#bitartisanslider-slides .flex-direction-nav a:before {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 50px;
}

#bitartisanslider-slides a.bas-delete-slide-btn,
#bitartisanslider-slides a.bas-delete-caption-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 2px 3px 1px 6px;
    color: #000;
    border-radius: 15px;
    background-color: #fff;
    opacity: 0.4;
}

#bitartisanslider-slides a.bas-delete-slide-btn:hover,
#bitartisanslider-slides a.bas-delete-caption-btn:hover {
    opacity: 0.8;
}

#bitartisanslider-slides ul#bas-slide-menu {
    float: right;
    margin: 20px;
    padding: 5px 10px 0;
    background-color: #00000040;
    border-radius: 10px;
}

#bitartisanslider-slides ul#bas-slide-menu li {
    float: left;
}

#bitartisanslider-slides ul#bas-slide-menu li a {
    display: block;
    margin: 0 5px;
    color: #fff;
    opacity: 0.7;
}

#bitartisanslider-slides #bas-slide-menu a span.fas {
    padding: 0;
    font-size: 2em;
    color: #fff;
}

#bitartisanslider-slides #slider ul.slides li .bas-slide-caption {
    width: 400px;
    height: 200px;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: move;
}

#bitartisanslider-slides .bas-btn-disabled {
    cursor: default;
    opacity: 0.2 !important;
}


/* buttons */
#bas-add-slide h2 {
    font-size: 2em;
    color: #333;
}

#bas-multi-upload {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: #777;
    border: 1px solid #ddd;
    border-radius: 20px;
}

#bas-multi-upload:hover {
    color: #0085BA;
}

#bas-add-slide #bas-add-slide-controls {
    margin: 100px auto;
    text-align: center;
}

#bas-add-slide #bas-add-slide-controls #bas-video-url {
    width: 30em;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.5em;
    color: #777;
}

#bas-add-slide #bas-add-slide-controls #bas-video-url::placeholder {
    color: #ccc;
}

#bas-add-slide #bas-add-slide-controls .bas-label {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5em;
    color: #777;
}

.bas-center {
    text-align: center;
}
